@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
body {
  font-family: "Open Sans", sans-serif;
}
.header-nav {
  background-color: #fff;
  height: 48px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.header-nav div {
  height: inherit;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.header-nav div h4 {
  color: #49a6e9;
}

.header-nav div ul {
  display: flex;
  list-style: none;
}

.header-nav div ul a {
  text-decoration: none;
  color: #063251;
  font-weight: 700;
  margin-right: 16px;
}

.header-nav div ul a:hover {
  color: #49a6e9;
}

main {
  min-height: calc(100vh - 3rem);
  background-color: hsl(206, 33%, 96%);
  display: flex;
  align-items: center;
  justify-content: center;
}

main .main-color {
  display: flex;
}
