*{
  margin: 0;
  padding: 0;
}
li{
  list-style: none;
}
header{
  width: 100%;
  height: 50px;
  background-color: #333;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
header{
  color: #fff;
}
header ul{
  display: flex;
  align-items: center;
}
header ul li{
  height: max-content;
}
header ul button{
  width: 100px;
  height: 30px;
  background-color: #333;
  border: #fff;
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s;
}
header ul button:hover{
  background-color: #fff;
  color: #333;
}

.page{
  position: absolute;
  width: 100vw;
  height: 100vh; 
  top: 50px; left: 0;
}
.page div{
  display: flex;
  flex-direction: column;
  row-gap: 50px;
}
.page div h2{
  margin-top: 150px;
}
.page div h2,p{
  font-size: 30px;
  -webkit-text-stroke: 1px #333;
  color: #fff;
  text-align: center;
  font-weight: bold;
}
.page div .clk_btn{
  width: 100px;
  height: 50px;
  background-color: #333;
  border: #fff;
  color: #fff;
  font-size: 20px;
  margin: 0 auto;
  border-radius: 10px;
  cursor: pointer;
  transition: all .3s;
}
.page div .clk_btn:hover{
  background-color: #fff;
  color: #333;
}
  .page2{
  display: none;
  background-color: #fff;
}

